@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$accentColor = #1b55e3

h1{
    color: $accentColor;
}

.site-name{
	font-family: Rubik
}

h1,h2,h3,h4,h5 {
    font-family: Rubik;
}

body{
	font-family: Montserrat;
}

// TABLAS
table td{
	font-size: 14px;
}

table tr>td:first-child{
	font-weight: bold;
}

table {
    width: 100%;
    max-width: 100%;
	min-width: 100%;
	table-layout: fixed;
}

td:nth-child(1) { width: 10%; }
td:nth-child(2) { width: 90%; }


// LISTAS
ul li ul li ul li {
	padding-left: 15px;
}

.list-unstyle ul{
	list-style: none;
	padding-left: 0;
}

.list-unstyle ul li{
	display: flex;
	align-items: center;
}

.list-unstyle ul li>*{
	margin-right: 10px;
}
