table{
	border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #282C34;
    width: 100%;
    margin-bottom: 1em;

	td, th{
		padding: 5px 10px;
		border: 1px solid #282C34;
		font-size: 14px;
	}

	th{
		text-transform: uppercase;
		background: #282C34;
		color: white;
		font-family: Rubik;
	}

	thead>th:first-child{
		border-top-left-radius: 3px;
	}

	thead>th:last-child{
		border-top-right-radius: 3px;
	}
}

